.fc{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.fc-header-toolbar{
    position:absolute;
}
.schedule{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
.calendar{
    width: 500px;
    grid-area: cal;
}
.classList{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 200px;
}
.availableSection{
    display: grid;
    flex-direction: row;
    row-gap: 5px;
    align-items: center;
    grid-template-columns: 25px auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "expandIcon expandTitle"
        "expandSection expandSection";

    .expandIcon{
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        grid-area: expandIcon;
        justify-self: center;
    }
    .expandIcon:hover{
        width: 25px;
        height: 25px;
    }
    .expandtitle{
        font-size: 20px;
        font-weight: bold;
        grid-area: expandTitle;
    }
    .expandSection{
        grid-area: expandSection;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
}