.classItem{
    background-color: #3788d8;;
    padding: 5px;
    border-radius: 4px;

    h1{
        font-size: large;
        font-weight: 400;
        margin: 0;
        color: white;
    }
    p{
        font-size: small;
        margin: 0;
        color: white;
    }
    h2{
        font-size: small;
        font-weight: 200;
        margin: .5rem 0 0 0;
        color:white;
    }
    /* + .classItem{
        margin-top: 5px;
    } */

    &:hover{
        background-color: #2a6fba;
        cursor: pointer;
    }
}
